body {
    background-color: white;
}
.div-navbar {
    background-color: red;
    width: 100%;
    height: 60px;
}
.div-ul-navbar {
    height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
}
a {
    text-decoration: none;
    color: black;
}
.div-li-navbar {
    color: black;
    list-style-type: none;
    text-decoration: none;
    margin: 5px;
    padding: 20px;
}
html {
    margin: 0;
    padding: 0;
}
.div-footer {
    background-color: red;
    width: 100%;
    height: 100px;
}
.div-content {
    background-color: white;
    width: 100%;
    height: 100vh;
}